.content{
    position: absolute;
}

#home{
    min-height: 100vh;
    min-width: 100vw;
}

    /* em:body上设置的字体大小，body元素内的任何子元素的em值都等同于body设置的字体大小 */
    /* em:父元素上设置字体大小，父元素内的任何子元素的em值都等同于父元素设置的字体大小 */
    /* rem:root-em,以body为标准，不再对其其他父元素*/
    /* vh:相对于视口的高度，视口被分为100单位的vh */
    /* vw:相对于视口的宽度，视口被分为100单位的vw */
    /* vmin:按视口的宽高比中取最小值，宽1100px，高700px，1vmin = 7px，1vmax = 11px  */
    /* vmax:按视口的宽高比中取最大值，宽1100px，高700px，1vmin = 7px，1vmax = 11px  */

.homeBox{
    height: 90vh;
    width: 90vw;
    margin-left:5vw;
    margin-top:5vh; 
}

.homeBoxFlex{
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    /* flexible box弹性布局，子元素的float，clear，vertical-align属性失效 */
    align-items:center;
    /* align-items:定义flex容器内项目侧轴（纵轴）方向的对齐方式 */
    justify-content: center;
    /* justify-content:设置弹性盒子元素在主轴（横轴）方向上的对齐方式 */
    min-height: 90vh;
    /* vh:相对于视口的高度，视口被分为100单位的vh */
    background-color: #f3eeea;
}

