html, body {
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.displayNone{
    display:none;
}

pre {
    max-height: 90%;
    width: 100%;
    border-radius: 1px; /* Prevents bad clipping in Chrome */
}

.pre {
    max-height: 100%;
    border-radius: 1px; /* Prevents bad clipping in Chrome */
}

#header {
    position: absolute;
    bottom: 0;
    height: 20px;
    left: 0;
    right: 0;
    padding: 0 10px;
}

a:after {
    content: '';
    padding-right: 5px;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: inherit;
}

a:last-of-type:after {
    border: none;
}

.translateX1095 {
    transform: translateX(-100%)!important;
    -webkit-transform: translateX(-100%)!important;
    position: absolute;
}

.translateX1105 {
    transform: translateX(-105%)!important;
    -webkit-transform: translateX(-105%)!important;
    position: absolute;
}

.translateY1105rotateY0010 {
    transform: translateY(-105%) rotateY(10deg)!important;
    -webkit-transform: translateY(-105%) rotateY(10deg)!important;
    position: absolute;
}

.translateY0105rotateY0010 {
    transform: translateY(105%) rotateY(10deg)!important;
    -webkit-transform: translateY(105%) rotateY(10deg)!important;
    position: absolute;
}

.translateY0155rotateY0010 {
    transform: translateY(155%) rotateY(10deg)!important;
    -webkit-transform: translateY(155%) rotateY(10deg)!important;
    position: absolute;
}

.translateY0205rotateY0010 {
    transform: translateY(205%) rotateY(10deg)!important;
    -webkit-transform: translateY(205%) rotateY(10deg)!important;
    position: absolute;
}

.translateY0105rotateY0010R {
    transform: translateY(105%) rotateY(10deg)!important;
    -webkit-transform: translateY(105%) rotateY(10deg)!important;
    position: relative!important;
}

.poR{
    position: relative;
}

.rotateY0010 {
    transform: rotateY(10deg)!important;
    -webkit-transform: rotateY(10deg)!important;
    position: absolute;
}

.test-text{
    transform: translateY(105%) rotateY(10deg)!important;
    -webkit-transform: translateY(105%) rotateY(10deg)!important;
    -webkit-transform-origin: left;
    position: absolute;
}

#input-text{
    /*margin-top: 40%;*/
    /*transform: translateY(105%) rotateY(10deg)!important;
    -webkit-transform: translateY(105%) rotateY(10deg)!important;*/
    height:44%;
    text-align:left;
    position: relative;
}

.marginTop0100{
    margin-top: 100%!important;
}

input{
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 10px;
    padding: 13px 14px;
    width: 80%;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
    background:cornsilk;
}

/*多行文本框*/
.multieditbox{
    background: #f8f8f8;
    border-bottom: #b7b7b7 1px solid;
    border-left: #b7b7b7 1px solid;
    border-right: #b7b7b7 1px solid;
    border-top: #b7b7b7 1px solid;
    color: #000000;
    cursor: text;
    font-family: "arial";
    font-size: 9pt;
    padding: 1px; /*www.52css.com*/
}

/*按钮样式*/

.buttonFlow {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 30px;
    color: #FFFFFF;
    margin: 0;
    width: 200px;
    height: 75px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
        
}

.buttonFlow:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300px;
    padding-left: 300px;
    margin-left: -25%;
    margin-top: -75%;
    opacity: 0; 
    border-radius: 10000px;
    transition: all 1s;
}

.buttonFlow:active:after {
    padding: 0;
    margin-left: 50%;
    margin-top: -10%;
    opacity: 1;
    transition: 0s
}

.scrollbarTest{
    scrollbar-3d-light-color:red;
    scrollbar-arrow-color:red;
    scrollbar-base-color:red;
}

#navigationLeft{
    opacity: 0;
}
#navigationRight{
    opacity: 0;
}

.title{
    position:fixed;
    top:10px;
    left:10px;
    font-size: 18px;
    height:10px;
    width:95%;
}
